@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    font-family:'Oswald', sans-serif;
}

/* Navigation menu */ 
nav li {
    word-spacing: 5px;
}
 
nav {

}

/*Hero Image */
.hero-image {
    background-image: url("../hero-image/Hero.jpg");
    background-position: center;
    width:100vw;
    height:45vh;
    background-size: cover;
    background-repeat: no-repeat;
    z-index:1;
    margin-bottom: 15px;
}

.Hero-title {
    color:#2a06e1;
    text-decoration: solid;
}

/*About us section */
.container-teach {
    align-items: center;
    padding:5px;
    background-color:grey; 
}
 container-teach ,p,h2 {
    padding-left:0; 
    box-align: center;
    color:white;
    margin-top: 15px;
 }

 container-teach, button {
    position: center;
 }
/*Our Values */


